<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>cosmetic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet 파일 업로드 -->
<servlet>
	<servlet-name>fileTestServlet</servlet-name>
	<servlet-class>com.fileTest.FileTestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>fileTestServlet</servlet-name>
	<url-pattern>/file/*</url-pattern>
</servlet-mapping>

<!-- Servlet 타이머필터 -->
<!-- <filter>
  	<filter-name>timerFilter</filter-name>
  	<filter-class>com.filter.TimerFilter</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>timerFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
<!-- CharsetEncodingFilter -->
<filter>
	<filter-name>charsetFilter</filter-name>
	<filter-class>com.filter.CharsetEncodingFilter</filter-class>
	<init-param>
		<param-name>charset</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>charsetFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<!-- 로그인 필터(장바구니) -->
<filter>
	<filter-name>loginFilter</filter-name>
	<filter-class>com.filter.LoginFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>loginFilter</filter-name>
	<url-pattern>/cart/*</url-pattern>
</filter-mapping>

<!-- 
<filter>
	<filter-name>loginFilter1</filter-name>
	<filter-class>com.filter.LoginFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>loginFilter1</filter-name>
	<url-pattern>/board/*</url-pattern>
</filter-mapping> -->

<!-- 배송지 추가 -->
<servlet>
	<servlet-name>destinationServlet</servlet-name>
	<servlet-class>com.destination.DestinationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>destinationServlet</servlet-name>
	<url-pattern>/dest/*</url-pattern>
</servlet-mapping>

<!-- 상품리스트 조회 -->
 <servlet>
	<servlet-name>Product</servlet-name>
 	<servlet-class>com.product.ProductServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Product</servlet-name>
 	<url-pattern>/product/*</url-pattern>
 </servlet-mapping>
 
 <!-- 쿠폰 -->
 <servlet>
	<servlet-name>Coupon</servlet-name>
 	<servlet-class>com.coupon.CouponServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Coupon</servlet-name>
 	<url-pattern>/coupon/*</url-pattern>
 </servlet-mapping>

<!-- 상품상세조회 -->
<servlet>
	<servlet-name>productDetailServlet</servlet-name>
	<servlet-class>com.productDetail.ProductDetailServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>productDetailServlet</servlet-name>
	<url-pattern>/pr/*</url-pattern>
</servlet-mapping>

<!-- Servlet 회원가입 -->
<servlet>
 	<servlet-name>memberServlet</servlet-name>
  	<servlet-class>com.member.MemberServlet</servlet-class>
</servlet>
<servlet-mapping>
 	<servlet-name>memberServlet</servlet-name>
 	<url-pattern>/member/*</url-pattern>
</servlet-mapping>

<!-- 주문 및 장바구니 -->
<servlet>
 	<servlet-name>cartServlet</servlet-name>
  	<servlet-class>com.cart.cartServlet</servlet-class>
</servlet>
<servlet-mapping>
 	<servlet-name>cartServlet</servlet-name>
 	<url-pattern>/cart/*</url-pattern>
</servlet-mapping>

<!-- 단골매장등록 -->
<servlet>
	<servlet-name>myShopList</servlet-name>
	<servlet-class>com.myShop.MyShopServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>myShopList</servlet-name>
	<url-pattern>/shop/*</url-pattern>
</servlet-mapping>

<!-- 리뷰 -->
<servlet>
	<servlet-name>review</servlet-name>
	<servlet-class>com.review.ReviewServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>review</servlet-name>
	<url-pattern>/review/*</url-pattern>
</servlet-mapping>

<!-- 주문/배송 -->
<servlet>
 	<servlet-name>orderServlet</servlet-name>
  	<servlet-class>com.cart.OrderServlet</servlet-class>
</servlet>
<servlet-mapping>
 	<servlet-name>orderServlet</servlet-name>
 	<url-pattern>/order/*</url-pattern>
</servlet-mapping>

<!-- 이벤트 -->
<servlet>
	<servlet-name>eventServlet</servlet-name>
	<servlet-class>com.event.EventServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>eventServlet</servlet-name>
	<url-pattern>/event/*</url-pattern>
</servlet-mapping>


</web-app>